p {
    color: blue;
}

#punchline {
    color: crimson;
}

.card{
    width: 18rem;
}

.container{
    text-align: center;
}

.banner{
    border: black solid;
    padding: 3em;
}

.savedJokes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h2 {
    padding: 1em;
}