
body {
    background-color: rgb(250, 148, 5)
}

 #setup {
    text-shadow: crimson 1px 1px;
    color:black;
    font-size: large;
    padding-top: .5em;
}

#punchline {
    color: crimson;
    font-size: larger;
}

.card{
    width: 18rem;
    padding: 1em;
    border: solid black;
}

.container{
    text-align: center;
}

.banner{
    border: black solid;
    padding: 3em;
    background-color: rgb(255, 0, 0);
    text-shadow: rgb(20, 189, 211) 1px 1px;
}

.savedJokes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h2 {
    padding: 1em;
}

h6{
    padding: 2em;
}

#animate {
    color: black;
    text-shadow: none;
}