p {
    color: blue;
    font-size: large;
}

#punchline {
    color: crimson;
    font-size: larger;
}

.card{
    width: 18rem;
    padding: 1em;
}

.container{
    text-align: center;
}

.banner{
    border: black solid;
    padding: 3em;
}

.savedJokes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h2 {
    padding: 1em;
}

h6{
    padding: 2em;
}